*{
    font-family: Georgia, 'Times New Roman', Times, serif
}

.headGroup{
    margin-top: 20px;
}

.btnGroup{
    margin-top: 30px;
    padding: 10px
}

.btn{
    display: flex;
    justify-content: center;
}

.btnEnd{
    display: flex;
    margin-left: 10px;
}
