.body_color{
    min-width: 320px;
    max-width: 500px;
    display: flex;
    background-color: var(--calculator-background-color);
    width: 35vw;
    height: 85vh;
    justify-content: center;
    min-height: 500px;
    max-height: 550px;
}

@media screen and (width < 600px) {
    .body_color{
      position: absolute;
      display: flex;
      align-items: center;
    }
}

