.commonBtn{
    align-items: center;
    background-color: #3A3B3F;
    border-radius: 10%;
    color: #ffff;
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 2px;
    padding: 2em;
    width: 110px;
}

.commonBtn:hover{
    background-color: #ff7c25;
}
