.commonBtn{
    align-items: center;
    background-color: var(--calculator-buttons);
    border-radius: 10%;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: 10vh;
    justify-content: center;
    margin: 2px;
    padding: 1em;
    width: 7vw;
    font-size: 15px;
    max-height: 60px;
    max-width: 90px;
}

.commonBtnClick{
    font-size: 30px;
}

@media (hover : hover) {
    .commonBtn:hover{
        background-color: var(--calcutator-button-hover);
    }    
}

@media screen and (height < 600px) {
    .commonBtn{
        font-size: 10px;
        padding: 0;
        min-height: 45px;
    }
}

@media screen and (width < 900px) {
    .commonBtn{
        min-width: 65px;
    }
}
